/* .pull-right{
    float: right;
    padding: 5px 0px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
} */
@media only screen and (max-width: 600px) and (min-width: 300px)  {

    .Navbar{
        display: none;
    }

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg23{
    background:#942924 url(./png-images/abhivyakti-spotlight1.png);
    background-size: cover;
}
/* .row{
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
} */

.pull-right a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

.Navbar1 {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.Navbar2 {
    background: #1c1b1f;

    /* margin-bottom: 0; */
    /* min-height: 50px; */
    /* z-index: 9999; */
    /* padding-bottom: 0; */
}
.Navbar2 ul li{
    color: white;
    padding: 13px 20px;
   list-style-type: none;
   

}
.Navbar2 ul{
    margin-bottom: 0;
    
}
.Navbar2 ul li a{
    
    text-decoration: none;
    color: white;
}
.logo{
    width: 150px;
    position: absolute;
    left: 100px;
    top: 0px;
    z-index: 1;
}
